body {
    background-color:white;
}
#body {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: flex-end;
}
#gmail {
    padding: 5px;
    margin: 7px;
    font-size: 14px;
}
#images {
    padding: 5px;
    margin: 7px;
    font-size: 14px;
}
#menu {
    padding: 5px;
    margin: 5px;
    width: 22px;
    border-radius: 50%;
}
#menu:hover {
    background-color: rgba(233, 230, 230, 0.993);
}
#sign-in-button {
    background-color: rgba(42, 120, 238, 0.918);
    color: white;
    padding: 5px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;
}

.nav-text {
    text-decoration: none;
    color: black;
}
.nav-text:hover {
    text-decoration: underline;
}
#logo {
    width: 320px;
    display: flex;
    margin-top: 140px;

}
#flex-container {
    display: flex;
    justify-content: center;
}
#search-bar {
    width: 600px;
    height: 40px;
    border-radius: 30px;
    border-width: 1px;
    border-color:rgb(243, 242, 242);
    background-image: url('https://www.seekpng.com/png/full/65-659641_white-magnifying-glass-png-png-library-download-magnifying.png');
    background-position-x: 20px;
    background-position-y: center;
    background-size: 15px;
    background-repeat: no-repeat;
}
::-webkit-input-placeholder {
    text-align: center;
    font-size: 15px;
}
#extra {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.btn {
    width: 150px;
    height: 35px;
    margin: 5px;
    border-style: none;
}
#lang {
    display: flex;
    justify-content: center;
    font-size: 14px;
}